{% extends 'admin/base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <a href="{{ path('admin_picture_index') }}">Photo</a>
    <a href="{{ path('admin_video_index') }}">Video</a>
    <a href="{{ path('admin_music_index') }}">Music</a>
    <a href="{{ path('admin_concert_index') }}">Concert</a>
    <a href="{{ path('admin_mail_index') }}">Mail</a>
{% endblock %}
